__pycache__
.pytest_cache
.coverage
htmlcov
*.pyc
*.pyo
*~

local
local-test

*.deb

debian/dh-rootless
debian/.debhelper
debian/debhelper-build-stamp
debian/*.substvars
debian/files
debian/*.debhelper.log
